@page "/about"

<PageTitle>About Me</PageTitle>

<header>
    <center>
        <h1 class="display-2 mb-3">Hubert Chmielewski</h1>
        <p></p>
    </center>
</header>

<section>
    <h2 class="mx-auto mt-3 mb-5 text-center">About Me</h2>
    <p class="mx-4">
        👋 Hi there! I'm Hubert, a passionate developer with a love for building innovative solutions
        and contributing to the ever-evolving world of technology.
    </p>
    <div class="mx-5 ms-5">
        <p class="my-2">Technologies & Tools</p>
        <img src="https://skillicons.dev/icons?i=py,django,flask,git" />
        <p class="my-2">Currently learning</p>
        <img src="https://skillicons.dev/icons?i=cs,dotnet,azure" />
    </div>

</section>


<section>
    <h2 class="mx-auto mt-3 mb-5 text-center">Details</h2>
    <div class="mx-4">
        <p><strong>City:</strong> Warsaw, POLAND</p>
        <p><strong>Preffered work arrangement:</strong> Hybrid (office 3x week) / Remote</p>
        <p><strong>Preffered contract type:</strong> Permanent / B2B</p>
        <p><strong>Contact Email:</strong> <a href="mailto:hubertchmielewski0@gmail.com">hubertchmielewski0@gmail.com</a></p>
    </div>
</section>


<footer class="mt-5 mx-auto text-center mb-5">
    <p class ="mt-3 mx-auto">&copy; 2024 Hubert Chmielewski. All Rights Reserved.</p>
</footer>