@page "/"

<PageTitle>Home</PageTitle>

<h1 class="my-3 text-center mx-auto display-1">Hello!</h1>
<h5 class="text-center font-monospace lh-lg mx-5">
    Welcome to my portfolio website – I’m thrilled to have you here! <br />
    On the left-hand side, you’ll find a handy menu with options to explore.<br />
    Dive in! The “About Me” section gives you a glimpse into the person behind all this (yep, that's <a href="https://github.com/AlekUp24" target="_blank">me!</a>), and the other sections are where I flex some of the skills I’ve picked up along the way.<br /><br />
    I hope you enjoy your visit. <br /><br />
    And hey, don’t be shy – feel free to drop your feedback in my inbox.<br /><br />
    If you are curious, here is a direct link for <a href="https://github.com/AlekUp24/PortfolioWebApp" target="_blank">GitHub repo</a> of this project.
</h5>
