
.form-container {
    max-width: 500px; 
    margin: 50px auto; 
    padding: 20px; 
    background-color: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.form-control label {
    display: block;
    width: 100%; 
    margin-bottom: 10px; 
    font-weight: bold; 
}

.form-control input {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ced4da; 
    border-radius: 10px; 
    box-sizing: border-box; 
}

.btn {
    width: 100%; 
    padding: 10px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}

.btn-warning {
    background-color: #ffc107; 
    color: #212529; 
}

.result-container {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    background-color: #246BCE;
    text-align: center;
    color: aliceblue;
}

.weather-icon {
    width: 125px; 
    height: auto; 
}

.weather-additional-info {
    display: flex;
    justify-content: space-between;
}

.weather-additional-info-column {
    flex: 1; 
    margin: 0 10px; 
    padding: 10px; 
    border: 2px solid #ced4da;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
}
