<div class="top-row ps-3 navbar navbar-dark"> 
    <div class="container-fluid">
        <a class="navbar-brand" href="">PortfolioWebApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()" style="min-width: 150px;">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="bi bi-person-arms-up" aria-hidden="true"></span> About Me
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="jokes">
                <span class="bi bi-emoji-smile-fill" aria-hidden="true"></span> Jokes API
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-thermometer-sun" aria-hidden="true"></span> My Weather API
            </NavLink>
        </div>

        <div class="nav-item px-3 ms-3">
            <NavLink class="nav-link" href="weatherApiCallsHistory">
                <span class="bi bi-clock-history" aria-hidden="true"></span> Weather API History
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="IdeaShow">
                <span class="bi bi-card-checklist" aria-hidden="true"></span> Show Ideas
            </NavLink>
        </div>

        <div class="nav-item px-3 ms-3">
            <NavLink class="nav-link" href="IdeaAdd">
                <span class="bi bi-plus-square" aria-hidden="true"></span> Add New Idea
            </NavLink>
        </div>

    </nav>
</div>


